/* NAV Bar Started */
.nav {
    row-gap: 5px;
}

li{
    text-decoration: none;
    color: #ffffff;
    display: inline-flex;
    font-family: Aperculight;
    font-size: 1.6rem;
    padding: 0px 36px 0px 0px;
}
.listname {
    text-decoration: none;
    color: #ffffff;
    display: inline;
    font-family: Aperculight;
    font-size: 1.6rem;
}
.logo {
    width: 165px;
    margin-left: 52px;
    margin-right: 110px;
}
ul {
    align-items: center;
    margin-left: 60px;
    row-gap: 35px;
}
header {
    padding: 8px 0px;
}
.getbutton{
 border: 1px solid #ffffff;
 padding: 18px 16.5px;
 font-size: 14px;
 border-radius: 50px;
 text-decoration: none;
 color: #ffffff;
}
.orderbutton {
    border: 1px solid #ed1c24;
    background-color: #ed1c24;
    padding: 18px 16.5px;
    font-size: 14px;
    border-radius: 50px;
    margin-left: -25px;
    text-decoration: none;
    color: #ffffff;
}
.icon{
    width: 14px;
    height: 16px;
    background-color: #ffffff;
    color: #ed1c24;
    margin: 0px 0px 0px 7px;
    padding: 6px 7px;
    border-radius: 16px;
}
/* NAV Bar Ended */

/* Introduction Started */
.intro-main-div {
    margin-top: 80px;
}
.intro-sub-main1 {
    margin-bottom: 30px;
}
.intro-sub-main2 {
    padding-left: 125px;
    padding-right: 125px;
    padding-bottom: 15px;
    line-height: 23px;
}
/* Introduction Ended */

/* Restaurant Started */
.restaurant-main-div {
    row-gap: 70px;
    margin-top: 25px;
}
.res-s-sub-main1 {
    margin-bottom: 25px;
}
.restaurant-sub-main-2 {
    column-gap: 25px;
}
.res-s-sub-main2 {
    width: 550px;
    height: 286.52px;
    padding-right: 15px;
}
.res-s-sub-main2a {
    width: 550px;
    height: 345px;
}
.img-size {
    width: 100%;
    height: 100%;
}
/* Restaurant Ended */

/* Franchises for its Restaurants Started */
.franchises-main-div {
    row-gap: 70px;
    margin-top: 25px;
}
.franchises-sub-main-1 {
    margin-top: 35px;
}
.fran-s-sub-main1 {
    margin-bottom: 25px;
}
.franchises-sub-main-2 {
    column-gap: 25px;
}
.fran-s-sub-main2 {
    width: 550px;
    height: 255px;
    padding-right: 15px;
}
.fran-s-sub-main2a {
    width: 550px;
    height: 255px;
}
/* Franchises for its Restaurants Ended */

/* Epxress Started */
.express-main-div {
    margin-top: 60px;
}
.exp-s-sub-main-1 {
    margin-bottom: 40px;
}
.exp-s-sub-main-2 {
    margin-bottom: 70px;
}
.express-sub-main-2 {
    column-gap: 32.5px;
}
.exp-s-sub-main-3 {
    width: 540px;
    height: 325px;
}
.exp-s-sub-main-4 {
    width: 540px;
    height: 325px;
}
.exp-p {
    margin-bottom: 10px;
}
/* Express Ended */

/* Express Franchises Started */
.exp-fran-main-div1 {
    column-gap: 30px;
    row-gap: 30px;
}
.exp-fran-sub-main-div1 {
    background-color: #0f0f0f;
    width: 351px;
    height: 420px;
    border: none;
    border-radius: 10px;
}
.exp-fran-p {
    margin-bottom: 10px;
    margin-top: 5px;
}
.exp-fran-ph {
    margin: 20px 0px;
}
.exp-fran-sub-main-div2 {
    width: 351px;
    height: 420px;
}
.exp-fran-h2 {
    margin: 50px 0px;
}
/* Express Franchises Ended */

/* Village Franchise Started */
.village-main-div {
    column-gap: 30px;
    margin-bottom: 100px;
}
.village-sub-main-div {
    width: 540px;
    height: 280px;
}
.village-sub-main-div p:nth-child(2) {
    margin-bottom: 24px;
}
.village-sub-main-div p:nth-of-type(3) {
    margin-bottom: 10px;
}
.village-fran-heading :nth-child(1) {
    margin-top: 60px;
    margin-bottom: 80px;
}
/* Village Franchise Ended */

/* Footer Started */
.grandcontainer5 {
    padding: 70px 0px 0px 0px;
    row-gap: 25px;
    position: relative;
    top: -400px;
}
footer {
    background-color: #0f0f0f;
    height: 68vh;
    overflow: hidden;
}
.slogob {
    position: relative;
    left: 30px;
    top: 60px;
}
hr {
    color: #222222;
    font-weight: lighter;
    width: 98%;
    margin: 0 auto;
    position: relative;
    top: -375px;
}
.base {
    position: relative;
    top: -375px;
}
.box7 {
    width: 35%;
    height: 304px;
    word-spacing: 2px;
}
.box8 {
    width: 15%;
    height: 304px;
}
.box9 {
    width: 15%;
    height: 304px;
}
.box10 {
    width: 15%;
    height: 304px;
}
.img-logo {
    width: 140px;
    height: 64px;
    margin-bottom: 25px;
}
.pf1 {
    padding-bottom: 24px;
}
.pf2 {
    padding-bottom: 24px;
}
.pf3 {
    padding-bottom: 16px;
}
.logos {
    color: #ffffff;
    background-color: #ed1c24;
    font-size: 20px;
    padding: 10px;
    border-radius: 25px;
}
.logosf {
    color: #ffffff;
    background-color: #ed1c24;
    font-size: 20px;
    padding: 10px 14px;
    border-radius: 25px;
}
.imgf {
    margin-top: 15px;
}
.f1 {
    width: 80%;
}
.f2{
    margin: 10px 0px;
}
/* Footer Ended */