* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #000000;
}
html {
    font-size: 62.5%;
}
@font-face {
    font-family: aperculight;
    src: url(../Fonts/Apercu\ Light.otf);
}

/* NAVBAR STARTED */
.icon{
    background-color: #ffffff;
    color: #ed1c24;
}
.orderbutton {
    background-color: #ed1c24;
}
/* NAVBAR ENDED */

/* Feedback banner started */
.feedback-banner {
    
}
.banner-figure {
    z-index: 1;
}
.banner-text {
    width: 40%;
    position: relative;
    z-index: 2;
    bottom: 480px;
    margin: 0 auto;
    margin-bottom: -170px;
}
.banner-text :nth-child(1)>p {
    font-size: 4.267rem;
    font-family: aperculight;
}
.banner-text :nth-child(2)>h2 {
    font-size: 10rem;
    margin-top: -45px;
}
.banner-text :nth-child(3)>p {
    font-size: 2rem;
    font-family: aperculight ;
}
/* feedback banner ended */

/* feedback form started */

/* heading started */
.feedback-heading {
    margin: 0px 85px;
}
.heading-left {
    padding: 0px 10px;
    border-right: 1px dashed #ffffff;
    flex-basis: 50%;
}
.heading-right {
    flex-basis: 50%;
}
/* heading ended */

/* feedback  div started */
.feedback-heading-main {
    margin: 0px 85px;
    display: flex;
    flex-wrap: wrap;
}
.heading-left-main {
    padding: 0px 15px;
    border-right: 1px dashed #ffffff;
    flex-basis: 50%;
}
.heading-right-main {
    flex-basis: 50%;
    padding: 0px 15px;
}

/* food service started */

.star-icon {
    cursor: pointer;
}
/* food service ended */

/* fullname / phone number started */
.contact-main-div {
    width: 100%;
}
.contact-sub-main-div {
    width: 47%;
    height: 45px;
}
.fullname-phonenumber {
    width: 100%;
}
/* full name /phone number ended */

/* date started */
.date-main-div {
   min-width: 100%;
}
.date-sub-main-div {
    height: 45px;
}
/*  date ended */

/* Suggestions started */
.suggestions-main-div {
    /* height: 125px; */
    min-width: 100%;
}
.suggestions-sub-main-div {
    height: 125px;
}
/* Suggestions ended */

/* menu started */
.menu-main-div {
    width: 100%;
}
.menu-sub-main-div{
    width: 100%;
}
.menu-sub-main-div1{
    width: 163px;
    height: 75px;
}
.menu-label {
    height: 25%;
    width: 100%;
}
.menu-input {
    height: 58%;
    width: 100%;
}
.menu-radio-main {
    width: 100%;
    height:fit-content;
}
.menu-radio-sub-main {
    height: fit-content;
    width: 100%;
}
.radio-button {
    width: 25%;
    height: 35px;
}
/* menu ended */

/* social media pages started */
.social-heading {
    height: fit-content;
}
.social-main-div {
    width: 100%;
    height: fit-content;
}
.social-sub-main-div {
    width: fit-content;
}
/* social media pages ended */

.heading-right-main {
    padding: 0px 15px;
}
.food-consult-sub-main-div :nth-child(1) {
    font-weight: bold;
}
.food-consult-main-div :nth-child(2)>p {
    text-align: justify;
}
.map-sub-main-div :nth-child(1) {
    font-weight: bold;
}

/* feedback form ended */

/* Footer Started */
.grandcontainer5 {
    padding: 70px 0px 0px 0px;
    row-gap: 25px;
    position: relative;
    top: -400px;
}
footer {
    background-color: #0f0f0f;
    height: 72.5vh;
    overflow: hidden;
}
.slogob {
    position: relative;
    left: 30px;
    top: 60px;
}
hr {
    color: #222222;
    font-weight: lighter;
    width: 98%;
    margin: 0 auto;
    position: relative;
    top: -350px;
}
.base {
    position: relative;
    top: -350px;
}
.box7 {
    width: 450px;
    height: 304px;
    word-spacing: 2px;
}
.box8 {
    width: 150px;
    height: 304px;
}
.box9 {
    width: 250px;
    height: 304px;
}
.box10 {
    width: 250px;
    height: 304px;
}
.img-logo {
    width: 140px;
    height: 64px;
    margin-bottom: 25px;
}
.pf1 {
    padding-bottom: 24px;
}
.pf2 {
    padding-bottom: 24px;
}
.pf3 {
    padding-bottom: 16px;
}
.logos {
    color: #ffffff;
    background-color: #ed1c24;
    font-size: 20px;
    padding: 10px;
    border-radius: 25px;
}
.logosf {
    color: #ffffff;
    background-color: #ed1c24;
    font-size: 20px;
    padding: 10px 14px;
    border-radius: 25px;
}
.imgf {
    margin-top: 15px;
}
.f1 {
    width: 80%;
}
.f2{
    margin: 10px 0px;
}
/* Footer Ended */