* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #000000;
}
html {
    font-size: 62.5%;
}
@font-face {
    font-family: aperculight;
    src: url(../Fonts/Apercu\ Light.otf);
}

/* NAVBAR STARTED */
.icon{
    background-color: #ffffff;
    color: #ed1c24;
}
.orderbutton {
    background-color: #ed1c24;
}
/* NAVBAR ENDED */

/* Feedback banner started */
.banner-text {
    position: absolute;
    top: 58%;
    left: 36%;
    right: auto;
}
.banner-text p:nth-of-type(1) {
    font-size: 4.267rem;
    font-family: aperculight;

}
.banner-text :nth-child(2) {
    font-size: 10rem;
    margin-top: -45px;
}
.banner-text :nth-child(3) {
    font-size: 2rem;
    font-family: aperculight;
}
/* feedback banner ended */

/* feedback form started */

/* heading started */
.feedback-heading {
    margin: 0px 85px;
}
.heading-left {
    padding: 0px 10px;
    border-right: 1px dashed #ffffff;
}
/* heading ended */

/* food service started */

.star-icon {
    cursor: pointer;
}
/* food service ended */

/* fullname / phone number started */
.contact-main-div {
    height: 50px;
}
.contact-sub-main-div {
    width: 47%;
    height: 100%;
}
.fullname-phonenumber {
    width: 100%;
}
/* full name /phone number ended */

/* date started */
.date-main-div {
   height: 50px;
}

/*  date ended */

/* Suggestions started */
.suggestions-main-div {
    height: 125px;
}
/* Suggestions ended */

/* menu started */
.menu-main-div {
    height: 110px;
}
.menu-sub-main-div{
    width: 29.5%;
}
.menu-label {
    height: 25%;
}
.menu-input {
    height: 58%;
}
.menu-radio-main {
    height: 65px;
}
/* menu ended */

/* social media pages started */
.social-main-div {
    height: 65px;
}
/* social media pages ended */

.heading-right {
    padding: 0px 15px;
}
.food-consult-sub-main-div :nth-child(1) {
    font-weight: bold;
}
.food-consult-main-div :nth-child(2)>p {
    text-align: justify;
}
.map-sub-main-div :nth-child(1) {
    font-weight: bold;
}

/* feedback form ended */