* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #000000;
}
html {
    font-size: 62.5%;
}
@font-face {
    font-family: aperculight;
    src: url(../Fonts/Apercu\ Light.otf);
}

/* NAVBAR STARTED */
.icon{
    background-color: #ffffff;
    color: #ed1c24;
}
.orderbutton {
    background-color: #ed1c24;
}
/* NAVBAR ENDED */

/* Feedback banner started */
.feedback-banner {
    height: 125vh;
}
.banner-figure {
    z-index: 1;
}
.banner-text {
    position: relative;
    z-index: 2;
    bottom: 50em;
}
.banner-text :nth-child(1)>p {
    font-size: 4.267rem;
    font-family: aperculight;

}
.banner-text :nth-child(2)>h2 {
    font-size: 10rem;
    margin-top: -45px;
}
.banner-text :nth-child(3)>p {
    font-size: 2rem;
    font-family: aperculight;
}
/* feedback banner ended */

/* feedback form started */

/* heading started */
.feedback-heading {
    margin: 0px 85px;
    border: 2px solid green;
}
.heading-left {
    padding: 0px 10px;
    border-right: 1px dashed #ffffff;
    flex-basis: 50%;
    border: 2px solid purple;
}
.heading-right {
    flex-basis: 50%;
    border: 2px solid yellow;
}
/* heading ended */

/* feedback  div started */
.feedback-heading-main {
    margin: 0px 85px;
    border: 2px solid green;
    display: flex;
    flex-wrap: wrap;
}
.heading-left-main {
    padding: 0px 15px;
    border-right: 1px dashed #ffffff;
    flex-basis: 50%;
    border: 2px solid purple;
}
.heading-right-main {
    flex-basis: 50%;
    padding: 0px 15px;
    border: 2px solid yellow;
}

/* food service started */

.star-icon {
    cursor: pointer;
}
/* food service ended */

/* fullname / phone number started */
.contact-main-div {
    width: 100%;
}
.contact-sub-main-div {
    width: 47%;
    height: 45px;
}
.fullname-phonenumber {
    width: 100%;
}
/* full name /phone number ended */

/* date started */
.date-main-div {
   min-width: 100%;
}
.date-sub-main-div {
    height: 45px;
}
/*  date ended */

/* Suggestions started */
.suggestions-main-div {
    /* height: 125px; */
    min-width: 100%;
}
.suggestions-sub-main-div {
    height: 125px;
}
/* Suggestions ended */

/* menu started */
.menu-main-div {
    width: 100%;
}
.menu-sub-main-div{
    width: 100%;
}
.menu-sub-main-div1{
    width: 163px;
    height: 75px;
}
.menu-label {
    height: 25%;
    width: 100%;
}
.menu-input {
    height: 58%;
    width: 100%;
}
.menu-radio-main {
    width: 100%;
    height:fit-content;
    border: 2px solid red;
}
.menu-radio-sub-main {
    height: fit-content;
    width: 100%;
    border: 2px solid green
}
.radio-button {
    width: 25%;
    height: 35px;
    border: 2px solid purple;
}
/* menu ended */

/* social media pages started */
.social-main-div {
    height: 65px;
}
/* social media pages ended */

.heading-right {
    padding: 0px 15px;
}
.food-consult-sub-main-div :nth-child(1) {
    font-weight: bold;
}
.food-consult-main-div :nth-child(2)>p {
    text-align: justify;
}
.map-sub-main-div :nth-child(1) {
    font-weight: bold;
}

/* feedback form ended */