* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #000000;
}
html {
    font-size: 62.5%;
}
@font-face {
    font-family: aperculight;
    src: url(../Fonts/Apercu\ Light.otf);
}

/* NAVBAR STARTED */
.icon{
    background-color: #ffffff;
    color: #ed1c24;
}
.orderbutton {
    background-color: #ed1c24;
}
/* NAVBAR ENDED */

/* form started */
.form-main-div {
    border: 2px solid red;
    margin: 0px 110px;
}
.form-sub-main-div {
    border: 2px solid green;
    width: 48.65%;
}
label {
    height: fit-content;
}
input {
    height: 50px;
}
button {
    padding: 15px 65px;
    background-color: #ed1c24;
}
main > :nth-child(1) {
    font-family: butler;
    font-size: 4rem;
    font-weight: bolder;
}

/* form ended */