/* NAV Bar Started */
.nav-main-div {
    column-gap: 25px;
    row-gap: 0px;
    width: 100%;
    align-content: center;
}
.nav-sub-main-div1 {
    width: 12.5%;
    border: 1px solid white;
}
.logo {
    width: 100%;
    height: 100%;
    /* margin-left: 52px; */
    /* margin-right: 110px; */
}
.nav-sub-main-div2 {
    width: 55%;
    border: 1px solid white;
    align-content: center;
    /* align-items: center; */
}
ul {
    width: 100%;
    row-gap: 45px;
}
ul>li{
    font-size: 1.6rem;
    padding: 0px 36px 0px 0px;
}
ul :nth-child(6){
    padding-right: none;
}
li>a {
    text-decoration: none;
    color: #ffffff;
    font-family: Aperculight;
    font-size: 1.6rem;
}

/* ul { */
    /* align-items: center; */
    /* margin-left: 60px; */
/* } */
header {
    padding: 8px 0px;
}
.getbutton{
 border: 1px solid #ffffff;
 padding: 18px 16.5px;
 font-size: 14px;
 border-radius: 50px;
 text-decoration: none;
 color: #ffffff;
}
.orderbutton {
    border: 1px solid #ed1c24;
    background-color: #ed1c24;
    padding: 18px 16.5px;
    font-size: 14px;
    border-radius: 50px;
    margin-left: -25px;
    text-decoration: none;
    color: #ffffff;
}
.icon{
    width: 14px;
    height: 16px;
    background-color: #ffffff;
    color: #ed1c24;
    margin: 0px 0px 0px 7px;
    padding: 6px 7px;
    border-radius: 16px;
}
/* NAV Bar Ended */

/* Banner Started  */
.banner {
    width: 100%;
    margin: 0 auto;
}
/* Banner Ended */

/* Brands Started */
.container {
    row-gap: 35px;
}
.Brands {
    padding-top: 60px;
    padding-bottom: 175px;
}
h2 {
    color: #ffffff;
    font-family: "Prolight";
    font-size: 40px;
    text-align: center;

}
.p22 {
    margin-bottom: 45px;
    margin-top: 10px;
}
.box {
    background-color: #ffffff;
    width: 250px;
    height: 140px;
    padding: 25px 19px;
    margin: 0px 19px;
    border-radius: 3.5px;
}
.brand-button1 {
    text-decoration: none;
    font-family: "Aperculight";
    font-size: 14px;
    color: #ffffff;
    border: 1px solid #373737;
    width: 172px;
    padding: 18px 45px;
    border-radius: 50px;
}
.brand-button {
    text-decoration: none;
    font-family: "Aperculight";
    font-size: 14px;
    color: #ffffff;
    border: 1px solid #373737;
    padding: 18px 55px;
    border-radius: 50px;
}
.figbrand {
    text-align: center;
    margin: 45px 38px 0px;
}
/* Brands Ended */

/* Franchises Started */
.Franchises {
    background-color: #0f0f0f;
    width: 0 auto;
    max-height: 195vh;
    overflow: hidden;
}
.Slogo {
    position: relative;
    top: 25px;
    left: 73%;
}
.franchise {
    position: relative;
    top: -400px;
}
.franch1 {
    text-align: center;
}
.franch2 {
    margin-bottom: 48px;
    margin-top: 12px;
}

.grand-container {
    padding: 0px 70px;
    row-gap: 20px;;
    position: relative;
    top: -410px;
}
.container1 {
    justify-content: center;
    row-gap: 25px;
}
.p1 {
    letter-spacing: 8px;
    margin-bottom: 7px;
}
.p2 {
    margin-bottom: 25px;
}
.p2a {

}
.p3 {
    margin-bottom: 10px;
}
.p3a {
    margin-bottom: 45px;
}

.a4 {
    text-decoration: none;
    border: 1px solid #4e4e4e;
    padding: 15px 20px;
    border-radius: 25px;
    font-family: Poppins;
    font-size: 14px;
    color: #ffffff;
}
.icon1{
    width: 14px;
    height: 16px;
    background-color: #ffffff;
    color: #ed1c24;
    margin: 0px 0px 0px 7px;
    padding: 8px 10px;
    border-radius: 16px;
}

.box1 {
    width: 560px;
    height: 300px;
    padding: 0px 15px;
}

.image-franchise {
    width: 100%;
    height: 100%;
}

/* Franchises End */

/* Express Franchises Start */
.ExpressFranchise {
    width: 100%;
    background-color: #000000;
    height: 345vh;
    overflow: hidden;
}

.expresslogo {
    position: relative;
    top: 25px;
    left: 25px;
}
.express1 {
    position: relative;
    top: -390px;
}

.container2 {
    margin-top: 25px;
    position: relative;
    top: -380px;
}
.box2 {
    height: 487.13px;
    width: 100%;
    column-gap: 35px;
}
.box2a {
    height: 487.13px;
    width: 319.98px;
}
.l1 {
    line-height: 35px;
    margin-top: 5px;
}
.l2 {
    margin-bottom: 15px;
}
.l3 {
    margin-bottom: 15px;
}
.l4 {
    margin-bottom: 45px;
}
img {
    border-radius: 3px;
}
.fig-size {
    width: 100%;
}
.fig-center {
    text-align: center;
}
/* Express Franchises End */

/* Village Franchise Started */
.VILLAGE {
    background-color:#0f0f0f;
    padding-top: 25px;
    height: 95vh;
    margin-bottom: 50px;
}
.container3 {
    height: 100%;
    width: 100%;
    row-gap: 25px;
    margin-top: 25px;
    margin-bottom: 250px;
}
.test {
    height: 100%;
}
.box3 {
    height: 371px;
    width: 647.63px;
}
.box3a {
    height: 371px;
    width: 647.63px;
    padding-left: 25px;
}
.fig-height {
    height: 100%;
}
.a5 {
    text-decoration: none;
    color: #ffffff;
    font-family: Poppinslight;
    font-size: 14px;
    border: 1px solid #28a745;
    padding: 15px 20px;
    border-radius: 25px;
    background-color: #28a745;
}
.icon2{
    width: 14px;
    height: 16px;
    background-color: #ffffff;
    color: #28a745;
    margin: 0px 0px 0px 7px;
    padding: 6px 10px;
    border-radius: 16px;
}
.vf1 {
    margin-bottom: 5px;
    margin-top: 50px;
}
.vf2 {
    margin-bottom: 25px;
}
.vf3 {
    margin-bottom: 7.5px;
}
.vf4 {
    margin-bottom: 65px;
}
/* Village Franchise Ended */

/* Express Franchises Opening Soon Started */
.of1{
    margin-top: 100px;
}
.of2 {
    margin-bottom: 30px;
}
.grandcontainer1{
    width: 100%;
}   
.box4 {
    width: 90%;
}
.box5 {
    width: 325px;
    height: 215px;
    background-color: #ffffff;
    padding: 25px 15px;
    margin-bottom: 32px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 4px;
    text-align: center;
}
.e1 {
    margin-top: 15px;
    margin-bottom: 10px;
}
.e2 {
    margin-bottom: 5px;
}
.e3 {
    margin-bottom: 5px;
}
/* Express Franchises Opening Soon Ended */

/* Social Feed Started */
.social {
    margin-top: 35px;
    margin-bottom: 30px;
}
.grand-container2{
    width: 100%;
    margin-bottom: 65px;
}

.container4 {
    width: 100%;
    row-gap: 15px;
}
.box6 {
    width: 250px;
    height: 250px;
    margin: 0px 7.5px;
}
.imgbox {
    width: 100%;
    height: 100%;
}
/* Social Feed Ended */

/* Footer Started */
.grandcontainer5 {
    padding: 70px 0px 0px 0px;
    row-gap: 25px;
    position: relative;
    top: -400px;
}
footer {
    background-color: #0f0f0f;
    height: 68vh;
    overflow: hidden;
}
.slogob {
    position: relative;
    left: 30px;
    top: 60px;
}
hr {
    color: #222222;
    font-weight: lighter;
    width: 98%;
    margin: 0 auto;
    position: relative;
    top: -375px;
}
.base {
    position: relative;
    top: -375px;
}
.box7 {
    width: 35%;
    height: 304px;
    word-spacing: 2px;
}
.box8 {
    width: 15%;
    height: 304px;
}
.box9 {
    width: 15%;
    height: 304px;
}
.box10 {
    width: 15%;
    height: 304px;
}
.img-logo {
    width: 140px;
    height: 64px;
    margin-bottom: 25px;
}
.pf1 {
    padding-bottom: 24px;
}
.pf2 {
    padding-bottom: 24px;
}
.pf3 {
    padding-bottom: 16px;
}
.logos {
    color: #ffffff;
    background-color: #ed1c24;
    font-size: 20px;
    padding: 10px;
    border-radius: 25px;
}
.logosf {
    color: #ffffff;
    background-color: #ed1c24;
    font-size: 20px;
    padding: 10px 14px;
    border-radius: 25px;
}
.imgf {
    margin-top: 15px;
}
.f1 {
    width: 80%;
}
.f2{
    margin: 10px 0px;
}
/* Footer Ended */