*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
@font-face {
    font-family: "Aperculight";
    src: url(../Fonts/Apercu\ Light.otf);
}
@font-face {
    font-family: "Prolight";
    src: url(../Fonts/ApercuPro-ExtraLight.ttf);
}


/* NAVBAR STARTED */
.navbar-brand {
    margin-left: 75px;
}
.navbar-brand img {
    width: 150px;
    height: auto;
}
.navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"%3E%3Cpath stroke="%23ffffff" stroke-width="3" d="M5 7h20M5 15h20M5 23h20"/%3E%3C/svg%3E');
    background-size: 50px 25px;
}
.container-fluid a:nth-last-of-type(2) {
    background-color: #ed1c24;
    margin-left: 15px;
    margin-right: 100px;
}
.container-fluid > a:nth-last-of-type(1) {
    background-color: #ed1c24;
    margin-left: 15px;
}
.nav-link:hover {
    color: #ed1c24 !important;
}
.nav-link:active {
    color: #ffffff !important;
}
/* NAVBAR ENDED */


/* Banner Started  */
.banner {
    width: 100%;
    margin: 0 auto;
}
/* Banner Ended */

/* Brands Started */
.container {
    row-gap: 35px;
}
.Brands {
    padding-top: 60px;
    padding-bottom: 175px;
}
h2 {
    color: #ffffff;
    font-family: "Prolight";
    font-size: 40px;
    text-align: center;

}
.p22 {
    margin-bottom: 45px;
    margin-top: 10px;
}
.box {
    background-color: #ffffff;
    width: 250px;
    height: 140px;
    padding: 25px 19px;
    margin: 0px 19px;
    border-radius: 3.5px;
}
.brand-button1 {
    text-decoration: none;
    font-family: "Aperculight";
    font-size: 14px;
    color: #ffffff;
    border: 1px solid #373737;
    width: 172px;
    padding: 18px 45px;
    border-radius: 50px;
}
.brand-button {
    text-decoration: none;
    font-family: "Aperculight";
    font-size: 14px;
    color: #ffffff;
    border: 1px solid #373737;
    padding: 18px 55px;
    border-radius: 50px;
}
.figbrand {
    text-align: center;
    margin: 45px 38px 0px;
}
/* Brands Ended */

/* Franchises Started */
.Franchises {
    background-color: #0f0f0f;
    width: 0 auto;
    max-height: 195vh;
    overflow: hidden;
}
.Slogo {
    position: relative;
    top: 25px;
    left: 73%;
}
.franchise {
    position: relative;
    top: -400px;
}
.franch1 {
    text-align: center;
}
.franch2 {
    margin-bottom: 48px;
    margin-top: 12px;
}

.grand-container {
    padding: 0px 70px;
    row-gap: 20px;;
    position: relative;
    top: -410px;
}
.container1 {
    justify-content: center;
    row-gap: 25px;
}
.p1 {
    letter-spacing: 8px;
    margin-bottom: 7px;
}
.p2 {
    margin-bottom: 25px;
}
.p2a {

}
.p3 {
    margin-bottom: 10px;
}
.p3a {
    margin-bottom: 45px;
}

.a4 {
    text-decoration: none;
    border: 1px solid #4e4e4e;
    padding: 15px 20px;
    border-radius: 25px;
    font-family: Poppins;
    font-size: 14px;
    color: #ffffff;
}
.icon1{
    width: 14px;
    height: 16px;
    background-color: #ffffff;
    color: #ed1c24;
    margin: 0px 0px 0px 7px;
    padding: 8px 10px;
    border-radius: 16px;
}

.box1 {
    width: 560px;
    height: 300px;
    padding: 0px 15px;
}

.image-franchise {
    width: 100%;
    height: 100%;
}

/* Franchises End */

/* Express Franchises Start */
.ExpressFranchise {
    width: 100%;
    background-color: #000000;
    height: 345vh;
    overflow: hidden;
}

.expresslogo {
    position: relative;
    top: 25px;
    left: 25px;
}
.express1 {
    position: relative;
    top: -390px;
}

.container2 {
    margin-top: 25px;
    position: relative;
    top: -380px;
}
.box2 {
    height: 487.13px;
    width: 100%;
    column-gap: 35px;
}
.box2a {
    height: 487.13px;
    width: 319.98px;
}
.l1 {
    line-height: 35px;
    margin-top: 5px;
}
.l2 {
    margin-bottom: 15px;
}
.l3 {
    margin-bottom: 15px;
}
.l4 {
    margin-bottom: 45px;
}
img {
    border-radius: 3px;
}
.fig-size {
    width: 100%;
}
.fig-center {
    text-align: center;
}
/* Express Franchises End */

/* Village Franchise Started */
.VILLAGE {
    background-color:#0f0f0f;
    padding-top: 25px;
    height: 95vh;
    margin-bottom: 50px;
}
.container3 {
    height: 100%;
    width: 100%;
    row-gap: 25px;
    margin-top: 25px;
    margin-bottom: 250px;
}
.test {
    height: 100%;
}
.box3 {
    height: 371px;
    width: 647.63px;
}
.box3a {
    height: 371px;
    width: 647.63px;
    padding-left: 25px;
}
.fig-height {
    height: 100%;
}
.a5 {
    text-decoration: none;
    color: #ffffff;
    font-family: Poppinslight;
    font-size: 14px;
    border: 1px solid #28a745;
    padding: 15px 20px;
    border-radius: 25px;
    background-color: #28a745;
}
.icon2{
    width: 14px;
    height: 16px;
    background-color: #ffffff;
    color: #28a745;
    margin: 0px 0px 0px 7px;
    padding: 6px 10px;
    border-radius: 16px;
}
.vf1 {
    margin-bottom: 5px;
    margin-top: 50px;
}
.vf2 {
    margin-bottom: 25px;
}
.vf3 {
    margin-bottom: 7.5px;
}
.vf4 {
    margin-bottom: 65px;
}
/* Village Franchise Ended */

/* Express Franchises Opening Soon Started */
.of1{
    margin-top: 100px;
}
.of2 {
    margin-bottom: 30px;
}
.grandcontainer1{
    width: 100%;
}   
.box4 {
    width: 90%;
}
.box5 {
    width: 325px;
    height: 250px;
    background-color: #ffffff;
    padding: 25px 15px;
    margin-bottom: 32px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 4px;
    text-align: center;
}
.e1 {
    margin-top: 15px;
    margin-bottom: 10px;
}
.e2 {
    margin-bottom: 5px;
}
.e3 {
    margin-bottom: 5px;
}
/* Express Franchises Opening Soon Ended */

/* Social Feed Started */
.social {
    margin-top: 35px;
    margin-bottom: 30px;
}
.grand-container2{
    width: 100%;
    margin-bottom: 65px;
}

.container4 {
    width: 100%;
    row-gap: 15px;
}
.box6 {
    width: 250px;
    height: 250px;
    margin: 0px 7.5px;
}
.imgbox {
    width: 100%;
    height: 100%;
}
/* Social Feed Ended */

/* FOOTER STARTED */
footer {
    font-family: 'Aperculight';
    padding-top: 75px;
    position: relative;
    overflow: hidden;
    background-color: #0f0f0f;
}
footer::before {
    content: '';
    background-image: url(../Assets/S-Footer.webp);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 8%;
    left: 5%;
}
.footer-sub-main-div {
    position: relative;
}
footer p, a {
    color:#FFFFFFB3;;
}

.footer-sub-main-div > :nth-child(6) p > :nth-child(1)  {
    background-color: #ed1c24;
    font-size: 1.5rem;
    text-decoration: none;
    border-radius: 35px;
    padding: 8px 12px 8px 12px;
}
.footer-sub-main-div > :nth-child(6) p > :nth-child(2)  {
    background-color: #ed1c24;
    font-size: 1.5rem;
    text-decoration: none;
    border-radius: 35px;
    padding: 8px 11px 8px 11px;
    margin-left: -2.5px;
}
.footer-sub-main-div > :nth-child(6) p > :nth-child(3)  {
    background-color: #ed1c24;
    font-size: 1.5rem;
    text-decoration: none;
    border-radius: 35px;
    padding: 8px 10px 8px 10px;
    margin-left: -2.5px;

}
.footer-sub-main-div-2 {
    border-top: 1px solid #494848;
    width: 90%;
    margin: 0 auto;
}
.accordion {
    background-color: #0f0f0f;
    background: transparent;
}
.accordion-item {
    background-color: #0f0f0f;
    border: none;
    border-radius: 0;
    background: transparent;
}
.accordion-button {
    background-color: #0f0f0f;
    color: #ffffff;
    border: none;
    border-radius: 0;
    background: transparent;

}
.accordion-body {
    background-color: #0f0f0f;
    color: #ffffff;
    border-radius: 0;
    background: transparent;

}
.accordion-button:focus,
.accordion-button:focus-visible,
.accordion-button:active,
.accordion-button:not(.collapsed) {
    background-color: #0f0f0f; 
    color: #ffffff;
    border-color: #0f0f0f; 
    outline: none; 
    box-shadow: none; 
    background: transparent;
}
.accordion-button::after {
    display: none; 
}
.accordion-button::before {
    content: '+'; 
    font-size: 3rem;
    color: #ffffff; 
    position: absolute; 
    right: 0.5rem; 
}
.accordion-button:not(.collapsed)::before {
    content: '-'; 
    font-size: 3rem;
    color: #ffffff; 
    position: absolute; 
    right: 0.5rem; 
}
.accordion-button {
    position: relative;
}
/* FOOTER ENDED */

@media (min-width: 992px){
    .footer-main {
        padding-left: 75px;
    }
    
}

@media (max-width: 1100px){
    .container-fluid a:nth-last-of-type(2) {
        margin-right: 20px;
    }
}

@media (max-width: 992px) {
    .navbar-brand {
        margin-left: 0px;
    }
    .navbar-brand img {
        width: 125px;
    }
    .container-fluid {
        position: relative;
    }
    .navbar-brand {
        position: absolute;
        right: 40%;
        top: 0;
    }
    .container-fluid > a:nth-last-of-type(1) {
        position: absolute;
        right: 5px;
        top: 7px;
    }
    .container-fluid > a:nth-last-of-type(2) {
        position: absolute;
        right: 5px;
        top: 7px;
    }
    .navbar-toggler {
        margin: 20px 0px;
    }
    .navbar-nav {
        align-items: start !important;
        row-gap: 10px;
    }
    .nav-item > .nav-link {
        margin-left: 10px;
        padding: 0 !important;
        border: none !important;
    }
    .nav-item {
        border-bottom: 1px solid #ffffff;
        width: 100%;
    }
}