*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
@font-face {
    font-family: Aperculight;
    src: url(../Fonts/Apercu\ Light.otf);
}
@font-face {
    font-family: "Prolight";
    src: url(../Fonts/ApercuPro-ExtraLight.ttf);
}
body {
    background-color: #000000;
}
.display-flex {
    display: flex;
}
.direction-row { 
    flex-direction: row;
}
.direction-col {
    flex-direction: column;
}
.flex-wrap {
    flex-wrap: wrap;
}
.justify-center {
    justify-content: center;
}
.justify-end {
    justify-content: end;
}
.justify-space {
    justify-content: space-between;
}
.justify-around {
    justify-content: space-around;
}
.justify-evenly {
    justify-content: space-evenly;
}
.back-black {
    background-color: black;
}
.back-red{
    background-color: #ed1c24;
}
.text-white {
    color: #ffffff;
}
.text-red{
    color: #ed1c24;
}
.align-center {
    align-items: center;
}
@font-face {
    font-family: "futurak";
    src: url(../Fonts/futurablack-bt.ttf);
}
@font-face {
    font-family: Poppinslight;
    src: url(../Fonts/Poppins-Light.ttf);
}
.px12 {
    font-size: 12px;
}
.px14 {
    font-size: 14px;
}
.px24 {
    font-size: 24px;
}
.px16 {
    font-size: 16px;
}
.px32 {
    font-size: 32px;
}
.aperculight {
    font-family: Aperculight;
}
.poppinslight {
    font-family: Poppinslight;
}
.futurak {
    font-family: futurak;
}
.text-gray {
    color: #FFFFFFB3;
}
.letter-space {
    letter-spacing: 7.5px;
}