*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
@font-face {
    font-family: Aperculight;
    src: url(../Fonts/Apercu\ Light.otf);
}
body {
    background-color: #000000;
}
.display-flex {
    display: flex;
}
.direction-row { 
    flex-direction: row;
}
.direction-col {
    flex-direction: column;
}
.flex-wrap {
    flex-wrap: wrap;
}
.justify-center {
    justify-content: center;
}
.justify-end {
    justify-content: end;
}
.justify-space {
    justify-content: space-between;
}
.justify-around {
    justify-content: space-around;
}
.justify-evenly {
    justify-content: space-evenly;
}
.back-black {
    background-color: black;
}
.back-red{
    background-color: #ed1c24;
}
.text-white {
    color: #ffffff;
}
.align-center {
    align-items: center;
}