*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
@font-face {
    font-family: Aperculight;
    src: url(../Fonts/Apercu\ Light.otf);
}
@font-face {
    font-family: "Prolight";
    src: url(../Fonts/ApercuPro-ExtraLight.ttf);
}
body {
    background-color: #000000;
}
.display-flex {
    display: flex;
}
.direction-row { 
    flex-direction: row;
}
.direction-col {
    flex-direction: column;
}
.flex-wrap {
    flex-wrap: wrap;
}
.justify-center {
    justify-content: center;
}
.justify-end {
    justify-content: end;
}
.justify-space {
    justify-content: space-between;
}
.justify-around {
    justify-content: space-around;
}
.justify-evenly {
    justify-content: space-evenly;
}
.back-black {
    background-color: #000000;
}
.back-red{
    background-color: #ed1c24;
}
.text-white {
    color: #ffffff;
}
.text-red{
    color: #ed1c24;
}
.align-center {
    align-items: center;
}
@font-face {
    font-family: "futurak";
    src: url(../Fonts/futurak.ttf);
}
@font-face {
    font-family: "futura";
    src: url(../Fonts/futur.ttf);
}
@font-face {
    font-family: "futuran";
    src: url(../Fonts/futurablack-bt.ttf);
}
@font-face {
    font-family: Poppinslight;
    src: url(../Fonts/Poppins-Light.ttf);
}
.px12 {
    font-size: 12px;
}
.px18{
    font-size: 18px;
}
.px14 {
    font-size: 14px;
}
.px24 {
    font-size: 24px;
}
.px16 {
    font-size: 16px;
}
.px20 {
    font-size: 20px;
}
.px32 {
    font-size: 32px;
}
.px21 {
    font-size: 21px;
}
.px10 {
    font-size: 10px;
}
.px15 {
    font-size: 15px;
}
.px40 {
    font-size: 40px;
}
.px52 {
    font-size: 52px;
}
.px48 {
    font-size: 48px;
}
.px35 {
    font-size: 35px;
}
.aperculight {
    font-family: Aperculight;
}
.poppinslight {
    font-family: Poppinslight;
}
.futurak {
    font-family: futurak;
}
.text-gray {
    color: #FFFFFFB3;
}
.letter-space {
    letter-spacing: 7.5px;
}
.letter-space1 {
    letter-spacing: 5px;
}
.bold {
    font-weight: bold;
}
.text-center {
    text-align: center;
}
@font-face {
    font-family: "butler";
    src: url(../Fonts/Butler_Regular.woff);
}
.flow-col {
    flex-flow: column;
}
.thin {
    font-weight: lighter;
}
.img-border-3px {
    border: none;
    border-radius: 3px;
}